<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Potlatch</title>
    <link rel="stylesheet" href="normalize.css" type="text/css">
    <link rel="stylesheet" href="sakura.css" type="text/css">
  </head>
  <body>
    <div id="cats">
    </div>
    <div
        id="graphDiv"
        style="height:100%;width:100%;"
    />
    <style type="text/css" media="screen">
        html, body, svg { width: 100%; height: 100%;}
    </style>
    <a href="/submit">Submit your voice</a>
  </body>
</html>

